{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Calendar" %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "vendor/fullcalendar/fullcalendar.min.css" %}">
{% endblock %}

{% block scripts %}
<script src="{% static "vendor/fullcalendar/moment.min.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/fullcalendar/fullcalendar.min.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/fullcalendar/locale-all.js" %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	colors = ["#4e73df", "#1cc88a", "#36b9cc", "#6f42c1", "#5a5c69", "#f6c23e"];
	$('#fc-default').fullCalendar({
		themeSystem: 'bootstrap4',
		customButtons: {
	    icsButton: {
	      text: '{% trans "Get iCalendar (.ics)" %}',
	      click: function() {
					$('#calendarModal').modal('show');
	      }
	    }
	  },
		header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,listMonth icsButton'
    },
		defaultView: 'agendaWeek',
		defaultDate: '{% now "Y-m-d" %}',
		locale: 'en',
		navLinks: true, // can click day/week names to navigate views
		events: [
			{% if object_list %}
			{% for booking in object_list %}
			{
			  title: '{{ booking.vehicle }} - {% if booking.user.first_name %}{{ booking.user.first_name }} {{ booking.user.last_name }}{% else %}{{ booking.user }}{% endif %}',
			  start: '{{ booking.start|date:"Y-m-d\TH:i:00" }}',
				end: '{{ booking.end|date:"Y-m-d\TH:i:00" }}',
				color: colors[{{ booking.vehicle.id.int }}%colors.length],
			},
			{% endfor %}
			{% endif %}
		]
	});
	$('.fc-icsButton-button').html('<i class="far fa-calendar-alt"></i> {% trans "Get iCalendar (.ics)" %}');
});
</script>
{% endblock %}

{% block calendar_active %} active{% endblock %}

{% block content %}
<div class="container-fluid">
	{% if object_list %}
	<div class="card shadow mb-4">
		<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "Calendar" %}</h6>
    </a>
		<div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">
				<div id="fc-default" class="fc fc-unthemed"></div>
			</div>
		</div>
	</div>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{% trans "Bookings" %}</h6>
    </div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
	        <thead>
	          <tr>
	            <th scope="col">{% trans "Vehicle" %}</th>
	            <th scope="col">{% trans "Booking" %}</th>
	            <th scope="col">{% trans "User" %}</th>
							<th scope="col">{% trans "Actions" %}</th>
	          </tr>
	        </thead>
	        <tbody>
						{% for booking in object_list %}
	          <tr>
	            <th scope="row">{{ booking.vehicle }}</th>
	            <td>{{ booking.start|naturalday }} {% trans "at" %} {{ booking.start|time:"H:i" }} → {{ booking.end|naturalday }} {% trans "at" %} {{ booking.end|time:"H:i" }}</td>
	            <td>{% if booking.user.first_name %}{{ booking.user.first_name }} {{ booking.user.last_name }}{% else %}{{ booking.user }}{% endif %}</td>
							<td>{% if request.user == booking.user %}
								<a href="{% url 'nanogrid:update' booking.vehicle.id booking.id %}" class="btn btn-primary btn-circle btn-sm">
	                <i class="fas fa-pencil-alt"></i>
	              </a>
								<a href="{% url 'nanogrid:delete' booking.vehicle.id booking.id %}" class="btn btn-danger btn-circle btn-sm">
	                <i class="fas fa-trash"></i>
	              </a>
							</td>{% endif %}
	          </tr>
						{% endfor %}
	        </tbody>
	      </table>
			</div>
		</div>
	</div>
	{% else %}
	<div class="container-fluid">
    <div class="text-center">
      <h2 class="mx-auto">No booking yet <i class="far fa-sad-cry"></i></h2>
      <a href="{% url 'index' %}">← Go to Dashboard</a>
    </div>
  </div>
	{% endif %}
</div>
<!-- Calendar modal -->
<div id="calendarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calendarModalLabel">{% trans "Get iCalendar (.ics)" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>{% trans "Please use the following url to subscribe to the .ics calendar:" %}</p>
				<code class="text-primary">{{ request.build_absolute_uri|slice:-1 }}.ics</code>
      </div>
    </div>
  </div>
</div>
{% endblock %}
