{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Modify your profile" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="card shadow mb-4">
      <div class="card-body">
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form %}
					<button type="submit" class="btn btn-primary"><i class="far fa-save"></i> {% trans "Save" %}</button>
				</form>
      </div>
    </div>
	</div>
</div>
{% endblock %}
