{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Book a ride" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ vehicle }}</h6>
      </div>
      <div class="card-body">
				<form method="post">
					{% csrf_token %}
					<div class="form-row">
						<label class="col-md-12" for="{{ form.start.id_for_label }}">{{ form.start.label_tag }}</label>
						<input type="date" onchange="document.getElementById('{{ form.start.id_for_label }}').value =  this.value + ' ' + document.getElementById('{{ form.start.id_for_label }}_time').value" value="{% if form.start.value %}{{ form.start.value|date:"Y\-m\-d" }}{% else %}{% now "Y\-m\-d" %}{% endif %}" class="form-control col-md-4 mr-3 mb-3" required="" id="{{ form.start.id_for_label }}_date" name="{{ form.start.id_for_label }}_date" >
						<input type="time" onchange="document.getElementById('{{ form.start.id_for_label }}').value = document.getElementById('{{ form.start.id_for_label }}_date').value + ' ' + this.value" value="{% if form.start.value %}{{ form.start.value|date:"H\:i" }}{% else %}{% now "H\:\0\0" %}{% endif %}" class="form-control col-md-4 mb-3" required="" id="{{ form.start.id_for_label }}_time" name="{{ form.start.id_for_label }}_time">
						<input type="hidden" id="{{ form.start.id_for_label }}" name="{{ form.start.name }}" value="{% if form.start.value %}{{ form.start.value|date:"Y\-m\-d H\:i" }}{% else %}{% now "Y\-m\-d H\:\0\0" %}{% endif %}">
						{% if form.start.errors %}{% for error in form.start.errors %}
						<div class="text-danger">{{ error }}</div>
						{% endfor %}{% endif %}
					</div>
					<div class="form-row">
						<label class="col-md-12" for="{{ form.end.id_for_label }}">{{ form.end.label_tag }}</label>
						<input type="date" onchange="document.getElementById('{{ form.end.id_for_label }}').value =  this.value + ' ' + document.getElementById('{{ form.end.id_for_label }}_time').value" value="{% if form.end.value %}{{ form.end.value|date:"Y\-m\-d" }}{% else %}{% now "Y\-m\-d" %}{% endif %}" class="form-control col-md-4 mr-3 mb-3" required="" id="{{ form.end.id_for_label }}_date" name="{{ form.end.id_for_label }}_date" >
						<input type="time" onchange="document.getElementById('{{ form.end.id_for_label }}').value = document.getElementById('{{ form.end.id_for_label }}_date').value + ' ' + this.value" value="{% if form.end.value %}{{ form.end.value|date:"H\:i" }}{% else %}{% now "H\:\0\0" %}{% endif %}" class="form-control col-md-4 mb-3" required="" id="{{ form.end.id_for_label }}_time" name="{{ form.end.id_for_label }}_time">
						<input type="hidden" id="{{ form.end.id_for_label }}" name="{{ form.end.name }}" name="{{ form.end.name }}" value="{% if form.end.value %}{{ form.end.value|date:"Y\-m\-d H\:i" }}{% else %}{% now "Y\-m\-d H\:\0\0" %}{% endif %}">
						{% if form.end.errors %}{% for error in form.end.errors %}
						<div class="text-danger">{{ error }}</div>
						{% endfor %}{% endif %}
					</div>

					<button type="submit" class="btn btn-primary"><i class="far fa-save"></i> {% trans "Save" %}</button>
				</form>
      </div>
    </div>
	</div>
</div>
{% endblock %}
